@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    background: rgb(49, 34, 255);
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
    width: 300px;
    display: flex;
}

.card{
    width: 100%;
    height: 500px;
    background: rgb(123, 138, 138);
    border-radius: 20px;
}

.card div{
    margin: 0 auto;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 180px;
    overflow: hidden;
}

.fotoPerfil{
    position: absolute;
    top: 20px;
}

.card img{
    width: 100%;
}

.card h1{
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    top:30px;
}


.card p {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.datos-personales{
    padding: 11px;
    justify-content: space-around;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.skills {
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
}

ul{
    padding-left: 0px;
}

.skills strong{
    font-size: 15px;
}

.lista-contacto{
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    padding-left: 0px
}

.lista-contacto strong{
    font-size: 15px;
}


.lista-contacto img{
    width: 15px;
}

