@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-image: url(./assets/images/pexels-pew-nguyen-13162091.webp);
    background-size: cover;
    margin: 0;
    color: white;
}

h2{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

h3{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}


.card-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
    width: 300px;
    display: flex;
}

.card{ 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr;
    height: 500px;
    width: 300px;
    background: rgba(15, 15, 15, 0.404);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(71, 71, 71, 0.205);
    border-radius: 5%;
}
.card div{
    margin: 0 auto;
    position: relative;
    height: 150px;
    width: 150px;
}

.fotoPerfil{
    border-radius: 180px;
    overflow: hidden;
    margin: auto;
    position: absolute;
    size: auto;
    top: 20px;
}

.card img{
    width: 100%;
}

.card h1{
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    top:30px;
}

.datos-personales{
    display: flex;
    justify-content: center;
}

.skills {
    display: block;
    font-size: 12px;
    text-align: left;
}

.lista-contacto{
    font-size: 12px;
    padding: 10px;
}

.lista-contacto a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.lista-contacto i{
    font-size: 15px;
    padding: 10px;
    color: white;
}

.lista-contacto p{
    width: 15px;
    font-size: 10px;
}